name: CI/CD

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/predprof-frontend:latest

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        run: |
          docker build -t ${{ env.IMAGE_NAME }} .
          docker push ${{ env.IMAGE_NAME }}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        env:
          BACKEND_URL: ${{ secrets.BACKEND_URL }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: BACKEND_URL, DOCKER_USERNAME, DOCKER_PASSWORD
          script: |
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

            docker pull ${{ env.IMAGE_NAME }}

            docker stop predprof-frontend || true
            docker rm predprof-frontend || true

            echo "BACKEND_URL=$BACKEND_URL" > .env
            
            chmod 600 .env

            # Запускаем контейнер, подключая созданный файл
            docker run -d \
              -p 2056:3000 \
              --name predprof-frontend \
              --env-file .env \
              ${{ env.IMAGE_NAME }}